Flask
Flask-SQLAlchemy
Flask-Session
psycopg2-binary
python-dotenv
requests
gunicorn
email-validator
stability-sdk
googletrans
numpy
opencv-python
Pillow
eventlet
Flask-Login  # تم إضافة هذا السطر

# إذا كانت مكتبة openai_service المحلية تعتمد على مكتبة openai الرسمية، قم بإزالة التعليق من السطر التالي
# openai
