Flask
Flask-SQLAlchemy
Flask-Session
psycopg2-binary
python-dotenv
requests
gunicorn
email-validator
stability-sdk
googletrans
numpy
opencv-python
Pillow
eventlet
Flask-Login
Flask-SocketIO
google-generativeai
anthropic
elevenlabs
openai
python-magic
python create_tables.py
